<div id="<%= dom_id customer %>">
  <p>
    <strong>Stt:</strong>
    <%= customer.stt %>
  </p>

  <p>
    <strong>Ten:</strong>
    <%= customer.ten %>
  </p>

  <p>
    <strong>Gioitinh:</strong>
    <%= customer.gioitinh %>
  </p>

  <p>
    <strong>Diachi:</strong>
    <%= customer.diachi %>
  </p>

</div>
