<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <%# <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a> %>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li class="item">
                <%# <a href="#" class="nav-link px-2 text-secondary">
                </a> %>
                <%=  link_to "Home", customers_path , class: "nav-link px-2 text-secondary" %>
            </li>
            <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
            <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        </ul>

        <%# <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form> %>
        <%= form_tag(customers_path, method: :get, class:'col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3') do %>
            <%= text_field_tag :term , params[:term]%>
            <%= submit_tag 'Search' %>
        <% end %>

        <div class="text-end">
        <% if current_user %>
            <button type="button" class="btn btn-success"><%= link_to "Log out", destroy_user_session_path, method: :delete %></button>
        <% else %>
            <button type="button" class="btn btn-success"><%= link_to 'Sign up' , new_user_registration_path %></button>
            <button type="button" class="btn btn-success"><%= link_to 'Login' , new_user_session_path %></button>
        <% end %>
        </div>
        </div>
    </div>
</header>
